ENVIRONMENT=dev

PRISMA_ENDPOINT=http://prisma:4466/forum/dev
PRISMA_SECRET=nQGxoo73KdFGsH8iCKyZzLEjv4tR/jsaslHmSOHpNbY8Nply4EKITrQcwm1PZebM63CKiKPqmoDXp0NGprXD4MvgRJ3WbLyf
JWT_SECRET=SZM8c9N/9AJSMPgNio0xKQTMdCrbTOetmMfes2MLU7unwJ0q2nZq1t332hv9MkmCyRcm5Y5lw/ijHu95uN31fhQE6e9L9v1d
